<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="http://dev.axisj.com/dist/AXJ.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Yourtrip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="btn btn-secondary"><!--Logout, <span sec:authentication="principal.username" />--></input>
            </form>
        </div>

    </div>
</nav>
<!-- <div class="background-image"></div> -->

<div class="card">
	<h3 class="card-header">Creating new route</h3>
	<div class="card-body">
		<!--/*@thymesVar id="route" type="ru.yourtrip.repo.models.RouteWithShwpls"*/-->
		<!--/*@thymesVar id="route" type="ru.yourtrip.repo.models.Route"*/-->
	<form th:action="@{/blog/routes/create}" th:object="${routeWithShwpls}" method="post">
	  <fieldset>
			<div class="form-group">
				<label class="col-form-label col-form-label-lg" for="inputLarge">Route name</label>
				<input class="form-control form-control-lg" type="text" th:field="*{route.routeName}" id="inputLarge" name="routeName" />
			</div>
			<div class="form-group">
			  <label for="exampleTextarea">Description</label>
			  <textarea class="form-control" id="exampleTextarea" rows="5" th:field="*{route.commentary}" name="commentary"></textarea>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
				<input type="checkbox" class="form-check-input" th:field="*{route.complete}" name="complete" />
				Route was completed
			  </label>
			</div>
			<div class="form-check">
			  <label class="form-check-label">
				<input type="checkbox" class="form-check-input" th:field="*{route.hidden}" name="hidden" />
				Route will be show other users
			  </label>
			</div>
			<div class="form-group">
			  <label for="select1">Category</label>
			  <select class="form-control" id="select1" th:field="*{route.category}" name="category">
				<option value="family">family</option>
				<option value="active">active</option>
				<option value="romantic">romantic</option>
				<option value="cognitive">cognitive</option>
			  </select>
			</div>
			<div class="form-group">
			  <label for="select2">Mark</label>
			  <select class="form-control" id="select2" th:field="*{route.mark}" name="mark">
				<option value="1.0">1 - Fail</option>
				<option value="2.0">2 - Enough</option>
				<option value="3.0">3 - Creditable</option>
				<option value="4.0">4 - Brilliant</option>
				<option value="5.0">5 - Supreme</option>
			  </select>
			</div>
			<div class="form-group">
				<label class="col-form-label col-form-label-lg" for="inputLarge1">Lower price</label>
				<input class="form-control form-control-lg" type="text" th:field="*{route.lowerPrice}" id="inputLarge1" name="lowerPrice" />
			</div>
			  <div class="form-group">
				  <label class="col-form-label col-form-label-lg" for="inputLarge2">Upper price</label>
				  <input class="form-control form-control-lg" type="text" th:field="*{route.upperPrice}" id="inputLarge2" name="upperPrice" />
			  </div>
			<input type="hidden" class="form-control" th:field="*{route.personId}" id="person_id" name="personId" />
	    <button type="submit" class="btn btn-primary">Submit</button>
		  <!--<span th:each="route : ${routes}">-->
		  <!--</span>-->
	  </fieldset>
	</form>


	</div>


</div>

</body>

</html>