<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"

>

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
</head>

<body>
<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Yourtrip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="position: absolute; left: 500px;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="btn btn-secondary" />
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/logout}" method="get">
                <input type="submit" value="Login" class="btn btn-secondary" />
            </form>
        </div>
    </div>
</nav>
<!-- <div class="background-image"></div> -->


    <div sec:authorize="isAuthenticated()">
        <!--<h2>Hello, <span sec:authentication="principal.username" /></h2>-->
        <div class="card">
            <!-- <style>
                .personal-info {
                    text-align: center;
                }
            </style> -->
            <h3 class="card-header">Personal information</h3>
            <div class="card-body personal-info">
                <div th:if="${person.avatar} != 'None'">
                    <!-- <img style="height: 300px; max-width: 70%; text-align: center; margin: 0 auto; display: block;" th:src="${person.avatar}" th:alt="Card image" /> -->
                    <img style="height: 350px; max-width: 70%; display: block;" align="left" th:src="${person.avatar}"/>
                </div>
                <br />
                    <h3>
                        <p style="text-align: center; position: relative; padding-left: 20px;">Login : &emsp;&emsp;<small class="text-muted" th:text="${person.login}" style="font-size: 20pt; text-align: center;"></small></p>
                    </h3>
                <br />
                    <h3>
                        <p style="text-align: center; padding-left: 20px;">Nickname : &emsp;<small class="text-muted" th:text="${person.nickname}" style="font-size: 20pt; text-align: center;"></small></p>
                    </h3>
                <br />
                    <h3>
                        <p style="text-align: center; padding-left: 20px;">Email : &emsp;&emsp;<small class="text-muted" th:text="${person.mail}" style="font-size: 20pt; text-align: center;"></small></p>
                    </h3>
                <br />
                    <h3>
                        <p style="text-align: center; padding-left: 20px;">Birthday : &emsp;<small class="text-muted" th:text="${person.birthday}" style="font-size: 20pt; text-align: center;"></small></p>
                    </h3>
                <br />
            </div>
            <!--<div class="card-body">-->
                <!--<a href="#" class="card-link">Edit info</a>-->
            <!--</div>-->
            <div class="card-footer text-muted">
                <a href="#" class="card-link">Edit info</a>
            </div>
        </div>
        <br />
        <br />
        <!--<p><a class="btn btn-primary btn-lg" onclick="creatingRoute(username)">Create new route</a></p>-->
        <form th:action="@{/blog/creatingRoute}" method="get">
            <input type="submit" class="btn btn-primary btn-lg" value="Create new route" />
        </form>
        <br />
        <br />


        <!--/*@thymesVar id="routes" type="ru.yourtrip.repo.models.Route"*/-->
        <span th:each="route : ${routes}">
            <div class="card">
                <h3 class="card-header"><a th:href="@{'/blog/routes/' + ${route.id}}" style="font-size: 20pt;" th:text="${route.route_name}" method="get"></a></h3>
                <div class="card-body">
                    <div th:switch="${route.category}">
                      <p th:case="'romantic'"><span class="badge badge-pill badge-danger" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'active'"><span class="badge badge-pill badge-success" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'family'"><span class="badge badge-pill badge-warning" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'cognitive'"><span class="badge badge-pill badge-primary" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                    </div>
                    <p class="card-text" style="font-size: 15pt;" th:text="${route.commentary}"></p>
                    <p class="card-text" th:text="${route.mark}"></p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
            <br />
            <br />
        </span>

        <!--/*@thymesVar id="person" type="ru.yourtrip.repo.models.Person"*/-->
    </div>
    <div sec:authorize="isAnonymous()">
        <h1 class="display-3">YourTrip</h1>
        <p>This site intented by help you share different routes, which you make yourself</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#">Find routes now</a></p>-->
        <form th:action="@{/search/routes}" method="get">
            <input type="submit" class="btn btn-primary btn-lg" value="Find routes now" />
        </form>
    </div>

</body>

</html>

<script>
        function creatingRoute(obj) {
            console.log(obj);
            var credentialsJson = '{'
                + '"username" : "' + 1
                + '}';
            var settings = {
                type: "POST",
                crossDomain: true,
                url: "/blog/creatingRoute",
                contentType: "application/json; charset=utf-8",
                data: credentialsJson
            };
            $.ajax(settings).done(function (response) {
            }).fail(function (jqXHR, textStatus) {
                console.log(jqXHR.status + " " + jqXHR.statusText + ". " + jqXHR.responseText);
            });
        }
</script>
