<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Shadows+Into+Light" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Yourtrip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="LOGOUT" class="btn btn-secondary" />
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/logout}" method="get">
                <input type="submit" value="SIGN IN/SIGN UP" class="btn btn-secondary" />
            </form>
        </div>
    </div>
</nav>
<!-- <div class="background-image"></div> -->


<div sec:authorize="isAuthenticated()">
    <!--<h2>Hello, <span sec:authentication="principal.username" /></h2>-->
    <div class="card" style="height: 400px;">
        <!-- <style>
            .personal-info {
                text-align: center;
            }
        </style> -->
        <div class="card-body personal-info">
            <h2>Personal information</h2>
            <div th:if="${person.avatar} != 'None'">
                <!-- <img style="height: 300px; max-width: 70%; text-align: center; margin: 0 auto; display: block;" th:src="${person.avatar}" th:alt="Card image" /> -->
                <img style="height: 250px; width: 250px; display: block; border-radius: 250px;" class="round" align="left" th:src="${person.avatar}"/>
            </div>
            <div class="personal">
                <h3>
                    <p style="padding-left: 20px;">Login : &emsp;&emsp;<small class="text-muted" th:text="${person.login}" style="font-size: 20pt; text-align: center;"></small></p>
                </h3>
                <h3>
                    <p style="padding-left: 20px;">Nickname : &emsp;<small class="text-muted" th:text="${person.nickname}" style="font-size: 20pt; text-align: center;"></small></p>
                </h3>
                <h3>
                    <p style="padding-left: 20px;">Email : &emsp;&emsp;<small class="text-muted" th:text="${person.mail}" style="font-size: 20pt; text-align: center;"></small></p>
                </h3>
                <h3>
                    <p style="padding-left: 20px;">Birthday : &emsp;<small class="text-muted" th:text="${#dates.format(person.birthday, 'yyyy-MM-dd')}" style="font-size: 20pt; text-align: center;"></small></p>
                </h3>
            </div>
            <form style="margin-top: 280px;" th:action="@{/blog/routes/create}" method="get">
                <input type="submit" class="btn btn-primary btn-lg" value="Create new route" />
            </form>
        </div>
        <div class="card-footer text-muted">
            <!--th:action="@{'/routes/' + ${person.id} + '/edit'}"-->
            <a href="#" class="card-link">Edit info</a>
        </div>
    </div>
    <br />
    <br />
    <!--<p><a class="btn btn-primary btn-lg" onclick="creatingRoute(username)">Create new route</a></p>-->
    <br />
    <br />


    <!--/*@thymesVar id="routes" type="ru.yourtrip.repo.models.Route"*/-->
    <span th:each="route : ${routes}">
            <div class="card">
                <h3 class="card-header"><a th:href="@{'/blog/routes/' + ${route.id}}" style="font-size: 20pt;" th:text="${route.routeName}" method="get"></a></h3>
                <div class="card-body">
                    <div th:switch="${route.category}">
                      <p th:case="'romantic'"><span class="badge badge-pill badge-danger" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'active'"><span class="badge badge-pill badge-success" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'family'"><span class="badge badge-pill badge-warning" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                      <p th:case="'cognitive'"><span class="badge badge-pill badge-primary" style="font-size: 15pt;" th:text="${route.category}"></span></p>
                    </div>
                    <p class="card-text" style="font-size: 15pt;" th:text="${route.commentary}"></p>
                    <p class="card-text" th:text="${route.mark}"></p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
            <br />
            <br />
        </span>

    <!--/*@thymesVar id="person" type="ru.yourtrip.repo.models.Person"*/-->
</div>
<div sec:authorize="isAnonymous()">
    <style>
        .background-image {
            position: fixed;
            background-image: url("https://yastatic.net/s3/bro-bg-store/93363a30-5d1d-434e-ad46-3d6351a3de69.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
            width: 100%;
            height: 100%;
            /*-webkit-filter: blur(10px);*/
            /*-moz-filter: blur(5px);*/
            /*filter: blur(5px);*/
        }
    </style>
    <div class="background-image"></div>
    <div style="width:250px; height: 100px; position:absolute; left:50%; top:50%; margin:-100px 0 0 -150px;">
        <form th:action="@{/search/routes}" method="get">
            <input style="width:250px; height: 100px; font-size: 23pt; background-color: black;" type="submit" class="btn btn-primary btn-lg" value="Find routes now" />
        </form>
    </div>
</div>

</body>

</html>

<script>
    function creatingRoute(obj) {
        console.log(obj);
        var credentialsJson = '{'
            + '"username" : "' + 1
            + '}';
        var settings = {
            type: "POST",
            crossDomain: true,
            url: "/blog/creatingRoute",
            contentType: "application/json; charset=utf-8",
            data: credentialsJson
        };
        $.ajax(settings).done(function (response) {
        }).fail(function (jqXHR, textStatus) {
            console.log(jqXHR.status + " " + jqXHR.statusText + ". " + jqXHR.responseText);
        });
    }
</script>