<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
</head>

<body>
<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Yourtrip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find places</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="position: absolute; left: 500px;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="btn btn-secondary"></input>
            </form>
        </div>
        <div sec:authorize="isAnonymous()">
            <form th:action="@{/logout}" method="get">
                <input type="submit" value="Login" class="btn btn-secondary">Login /></input>
            </form>
        </div>
    </div>
</nav>
<!-- <div class="background-image"></div> -->


</body>

</html>